body {
  height: 100vh;
  background-image: linear-gradient(
      rgba(56, 54, 54, 0.774),
      rgba(0, 0, 0, 0.671)
    ),
    url("/Images/background.jpeg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
  max-width: 60vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border-radius: 1.2rem;
  transition: all 0.2s;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}

@media only screen and (max-width: 600px) {
  .btn-sec-home {
    margin-top: 10px;
  }
}
