<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Change Password</h5>
          <form
            action="/profile/change-password"
            method="POST"
            class="validated-form"
            novalidate
          >
            <% if (csrfToken) { %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <% } %>
            <div class="mb-3">
              <label class="form-label" for="currentPassword"
                >Current Password</label
              >
              <input
                class="form-control"
                type="password"
                id="currentPassword"
                name="currentPassword"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="newPassword">New Password</label>
              <input
                class="form-control"
                type="password"
                id="newPassword"
                name="newPassword"
                minlength="8"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <small class="form-text text-muted"
                >Must be at least 8 characters long.</small
              >
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword"
                >Confirm New Password</label
              >
              <input
                class="form-control"
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                minlength="8"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>

            <button class="btn btn-success btn-block">Update Password</button>
            <a href="/profile" class="btn btn-secondary btn-block">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
